h1 {
  color: white;
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
}

body {
  text-align: center;
  font-family: monospace;
  text-decoration: white;
  /* overflow hides the scrollbar */ 
  overflow: hidden;
}

audio:focus {
	outline: none;
}

button {
	background-color:transparent;
	border:1px solid #525252;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Roboto', monospace;
	font-size: 1rem;
	padding:5px 7px;
	text-decoration:none;
}
button:hover {
	background-color:transparent;
}
button:active {
	position:relative;
	top:1px;
}
